In [2]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import numpy as np

In [3]:
import pandas as pd

ANALIZAMOS EL MODELO

In [4]:
df= pd.read_csv('BankChurners.csv')

In [5]:
df.head(20)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998
5,713061558,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.99994
6,810347208,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.99988
7,818906208,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,...,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048,0.000086,0.99991
8,710930508,Existing Customer,37,M,3,Uneducated,Single,$60K - $80K,Blue,36,...,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113,0.000045,0.99996
9,719661558,Existing Customer,48,M,2,Graduate,Single,$80K - $120K,Blue,36,...,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144,0.000303,0.99970
10,708790833,Existing Customer,42,M,5,Uneducated,Unknown,$120K +,Blue,31,...,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217,0.000191,0.99981
11,710821833,Existing Customer,65,M,1,Unknown,Married,$40K - $60K,Blue,54,...,9095.0,1587,7508.0,1.433,1314,26,1.364,0.174,0.000198,0.99980
12,710599683,Existing Customer,56,M,1,College,Single,$80K - $120K,Blue,36,...,11751.0,0,11751.0,3.397,1539,17,3.250,0.000,0.000048,0.99995
13,816082233,Existing Customer,35,M,3,Graduate,Unknown,$60K - $80K,Blue,30,...,8547.0,1666,6881.0,1.163,1311,33,2.000,0.195,0.000096,0.99990
14,712396908,Existing Customer,57,F,2,Graduate,Married,Less than $40K,Blue,48,...,2436.0,680,1756.0,1.190,1570,29,0.611,0.279,0.000114,0.99989
15,714885258,Existing Customer,44,M,4,Unknown,Unknown,$80K - $120K,Blue,37,...,4234.0,972,3262.0,1.707,1348,27,1.700,0.230,0.000063,0.99994
16,709967358,Existing Customer,48,M,4,Post-Graduate,Single,$80K - $120K,Blue,36,...,30367.0,2362,28005.0,1.708,1671,27,0.929,0.078,0.000236,0.99976
17,753327333,Existing Customer,41,M,3,Unknown,Married,$80K - $120K,Blue,34,...,13535.0,1291,12244.0,0.653,1028,21,1.625,0.095,0.000150,0.99985
18,806160108,Existing Customer,61,M,1,High School,Married,$40K - $60K,Blue,56,...,3193.0,2517,676.0,1.831,1336,30,1.143,0.788,0.000175,0.99983
19,709327383,Existing Customer,45,F,2,Graduate,Married,Unknown,Blue,37,...,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080,0.000055,0.99994

In [6]:
df.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695,0.712222,0.274894,0.159997,0.840003
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570,0.238086,0.275691,0.365301,0.365301
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000,0.000008,0.000420
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000,0.582000,0.023000,0.000099,0.999660
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000,0.702000,0.176000,0.000181,0.999820
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000,0.818000,0.503000,0.000337,0.999900
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000,3.714000,0.999000,0.999580,0.999990

In [7]:
df.dropna()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [8]:
df.tail()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [9]:
df.drop(df[df['Education_Level'] == 'Unknown'].index, axis=0, inplace=True)

In [10]:
df.Education_Level.unique()

array(['High School', 'Graduate', 'Uneducated', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

In [11]:
df.drop(df[df['Marital_Status'] == 'Unknown'].index, axis=0, inplace=True)

In [12]:
df.Marital_Status.unique()

array(['Married', 'Single', 'Divorced'], dtype=object)

In [13]:
df.drop(df[df['Income_Category'] == 'Unknown'].index, axis=0, inplace=True)

In [14]:
df.Income_Category.unique()

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +'], dtype=object)

In [15]:
df.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,7.081000e+03,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000
mean,7.390919e+08,46.347691,2.337805,35.981359,3.819376,2.342607,2.454456,8492.773831,1167.501624,7325.272207,0.760584,4394.299816,64.503319,0.711508,0.282313,0.156531,0.843469
std,3.685244e+07,8.041225,1.291649,8.002609,1.544444,0.995104,1.104917,9126.072520,812.315606,9131.217585,0.223139,3468.461606,23.809330,0.238693,0.278731,0.362068,0.362068
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000,0.000008,0.000569
25%,7.130105e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2498.000000,463.000000,1248.000000,0.629000,2089.000000,44.000000,0.583000,0.026000,0.000099,0.999670
50%,7.178438e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4287.000000,1282.000000,3250.000000,0.735000,3831.000000,67.000000,0.700000,0.186000,0.000181,0.999820
75%,7.732370e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,10729.000000,1781.000000,9491.000000,0.858000,4740.000000,80.000000,0.818000,0.515000,0.000329,0.999900
max,8.282989e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,17995.000000,134.000000,3.714000,0.999000,0.999430,0.999990

In [16]:
df.Attrition_Flag.unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [17]:
df.Attrition_Flag =df.Attrition_Flag.map({'Existing Customer':0,'Attrited Customer':1})

In [18]:
df.Gender =df.Gender.map({'M':0,'F':1})

In [19]:
df.Education_Level =df.Education_Level.map({'High School':0, 'Graduate':1, 'Uneducated':2, 'College':3,
       'Post-Graduate':4, 'Doctorate':5})

In [20]:
df.Marital_Status =df.Marital_Status.map({'Married':0, 'Single':1, 'Divorced':2})

In [21]:
df.Income_Category =df.Income_Category.map({'$60K - $80K':0, 'Less than $40K':1, '$80K - $120K':2, '$40K - $60K':3,
       '$120K +':4})

In [22]:
df.Card_Category.unique()

array(['Blue', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [23]:
df.Card_Category =df.Card_Category.map({'Blue':0, 'Gold':1, 'Silver':2,'Platinum':3})

In [24]:
df.describe()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,7.081000e+03,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,...,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000
mean,7.390919e+08,0.157181,46.347691,0.476628,2.337805,1.559808,0.577037,1.655133,0.126536,35.981359,...,8492.773831,1167.501624,7325.272207,0.760584,4394.299816,64.503319,0.711508,0.282313,0.156531,0.843469
std,3.685244e+07,0.363997,8.041225,0.499489,1.291649,1.387032,0.636266,1.192126,0.479911,8.002609,...,9126.072520,812.315606,9131.217585,0.223139,3468.461606,23.809330,0.238693,0.278731,0.362068,0.362068
min,7.080821e+08,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,...,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000,0.000008,0.000569
25%,7.130105e+08,0.000000,41.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,31.000000,...,2498.000000,463.000000,1248.000000,0.629000,2089.000000,44.000000,0.583000,0.026000,0.000099,0.999670
50%,7.178438e+08,0.000000,46.000000,0.000000,2.000000,1.000000,0.000000,1.000000,0.000000,36.000000,...,4287.000000,1282.000000,3250.000000,0.735000,3831.000000,67.000000,0.700000,0.186000,0.000181,0.999820
75%,7.732370e+08,0.000000,52.000000,1.000000,3.000000,2.000000,1.000000,3.000000,0.000000,40.000000,...,10729.000000,1781.000000,9491.000000,0.858000,4740.000000,80.000000,0.818000,0.515000,0.000329,0.999900
max,8.282989e+08,1.000000,73.000000,1.000000,5.000000,5.000000,2.000000,4.000000,3.000000,56.000000,...,34516.000000,2517.000000,34516.000000,3.397000,17995.000000,134.000000,3.714000,0.999000,0.999430,0.999990

In [25]:
df.describe()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,7.081000e+03,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,...,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000
mean,7.390919e+08,0.157181,46.347691,0.476628,2.337805,1.559808,0.577037,1.655133,0.126536,35.981359,...,8492.773831,1167.501624,7325.272207,0.760584,4394.299816,64.503319,0.711508,0.282313,0.156531,0.843469
std,3.685244e+07,0.363997,8.041225,0.499489,1.291649,1.387032,0.636266,1.192126,0.479911,8.002609,...,9126.072520,812.315606,9131.217585,0.223139,3468.461606,23.809330,0.238693,0.278731,0.362068,0.362068
min,7.080821e+08,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,...,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000,0.000008,0.000569
25%,7.130105e+08,0.000000,41.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,31.000000,...,2498.000000,463.000000,1248.000000,0.629000,2089.000000,44.000000,0.583000,0.026000,0.000099,0.999670
50%,7.178438e+08,0.000000,46.000000,0.000000,2.000000,1.000000,0.000000,1.000000,0.000000,36.000000,...,4287.000000,1282.000000,3250.000000,0.735000,3831.000000,67.000000,0.700000,0.186000,0.000181,0.999820
75%,7.732370e+08,0.000000,52.000000,1.000000,3.000000,2.000000,1.000000,3.000000,0.000000,40.000000,...,10729.000000,1781.000000,9491.000000,0.858000,4740.000000,80.000000,0.818000,0.515000,0.000329,0.999900
max,8.282989e+08,1.000000,73.000000,1.000000,5.000000,5.000000,2.000000,4.000000,3.000000,56.000000,...,34516.000000,2517.000000,34516.000000,3.397000,17995.000000,134.000000,3.714000,0.999000,0.999430,0.999990

In [474]:
data_x= df.drop(['CLIENTNUM','Attrition_Flag','Customer_Age','Gender','Dependent_count','Education_Level','Marital_Status','Income_Category','Months_on_book','Total_Relationship_Count','Months_Inactive_12_mon','Contacts_Count_12_mon','Total_Revolving_Bal','Avg_Open_To_Buy','Total_Trans_Amt','Total_Trans_Ct','Total_Ct_Chng_Q4_Q1','Total_Amt_Chng_Q4_Q1','Avg_Utilization_Ratio','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],axis=1)
data_y = df.Avg_Open_To_Buy

In [475]:
train_x,test_x,train_y,test_y = train_test_split(data_x,data_y,test_size=0.1)

In [476]:
LinearRegression=linear_model.LinearRegression()

In [477]:
LinearRegression.fit(train_x,train_y)

LinearRegression()

In [478]:
y_predicted = LinearRegression.predict(test_x)

In [479]:
print(f"La ecuacion de la recta es y ={round(LinearRegression.coef_[0],2)}x + {round(LinearRegression.intercept_,2)}")

La ecuacion de la recta es y =21.21x + -1138.56

In [480]:
print(f"El score en prediccion es:{LinearRegression.score(test_x, test_y)}")

El score en prediccion es:0.9927230813059509

In [481]:
print(f'Score: {round(LinearRegression.score(test_x, test_y), 4) * 100}%')

Score: 99.27%

In [482]:
Limite_Credito = 1500
card_categoria = 2 

predicted = LinearRegression.predict([[Limite_Credito, card_categoria]])
labels = {0:'Blue', 1: 'Gold',2: 'Silver',3: 'Platinum'}

c:\HSOLUTIONS\2023\NUR\ALGORITMICA AVANZADA\Banco_Prediccion\BancoPrediccion\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [484]:
print(f'El cliente con un limite de credito {Limite_Credito}, que es considerado categoria {labels[card_categoria]}  aproximadamente ha realiado  al banco de  {round(predicted[0], 2)} Bolivianos')

El cliente con un limite de credito 1500, que es considerado categoria Silver  aproximadamente ha realiado  al banco de  30681.56 Bolivianos