In [14]:
from sklearn import neighbors
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [165]:
df = pd.read_csv('cc_state_sector_grads.csv')

In [166]:
df.gender = df.gender.map({'M': 0, 'B': 1})
df.state = df.state.map({'United States': 0, 'Alabama': 1})

In [167]:
df.describe()

,index,stateid,state,year,gender,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate,grad_cohort_ct
count,84942.00000,84942.000000,3672.000000,84942.000000,56628.000000,84942.000000,31760.000000,84942.000000,30033.000000,75623.000000,84942.000000
mean,42470.50000,28.179699,0.470588,2007.565162,0.500000,2308.136658,1346.772733,1058.684703,28.254796,39.426019,23.215512
std,24520.78762,15.901155,0.499202,3.489043,0.500004,19414.099744,9678.350718,9753.837421,19.921761,24.626696,92.582082
min,0.00000,0.000000,0.000000,2002.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,21235.25000,16.000000,0.000000,2005.000000,0.000000,6.000000,3.000000,2.000000,13.100000,19.900000,3.000000
50%,42470.50000,28.000000,0.000000,2008.000000,0.500000,64.000000,33.500000,20.000000,25.800000,39.400000,7.000000
75%,63705.75000,41.000000,1.000000,2011.000000,1.000000,561.000000,409.000000,207.000000,41.400000,56.800000,16.000000
max,84941.00000,56.000000,1.000000,2013.000000,1.000000,891211.000000,296553.000000,513263.000000,100.000000,100.000000,1180.000000

In [168]:
df.tail()

,index,stateid,state,state_abbr,control,level,year,gender,race,cohort,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate,grad_cohort_ct
84937,84937,0,0.0,US,Public,2-year,2013,0.0,Ai,2y all,3956,NaN,510,NaN,12.9,926
84938,84938,0,0.0,US,Public,2-year,2013,0.0,B,2y all,53531,NaN,5642,NaN,10.5,926
84939,84939,0,0.0,US,Public,2-year,2013,0.0,H,2y all,54952,NaN,8294,NaN,15.1,926
84940,84940,0,0.0,US,Public,2-year,2013,0.0,W,2y all,200074,NaN,43642,NaN,21.8,926
84941,84941,0,0.0,US,Public,2-year,2013,0.0,X,2y all,361735,NaN,68328,NaN,18.9,926

In [169]:
df.head()

,index,stateid,state,state_abbr,control,level,year,gender,race,cohort,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate,grad_cohort_ct
0,0,1,1.0,AL,Private for-profit,4-year,2011,1.0,A,4y bach,0,0.0,0,NaN,NaN,9
1,1,1,1.0,AL,Private for-profit,4-year,2011,1.0,Ai,4y bach,1,0.0,0,0.0,0.0,9
2,2,1,1.0,AL,Private for-profit,4-year,2011,1.0,B,4y bach,51,2.0,3,3.9,5.9,9
3,3,1,1.0,AL,Private for-profit,4-year,2011,1.0,H,4y bach,1,0.0,0,0.0,0.0,9
4,4,1,1.0,AL,Private for-profit,4-year,2011,1.0,W,4y bach,66,15.0,18,22.7,27.3,9

In [170]:
df.columns

Index(['index', 'stateid', 'state', 'state_abbr', 'control', 'level', 'year',
       'gender', 'race', 'cohort', 'grad_cohort', 'grad_100', 'grad_150',
       'grad_100_rate', 'grad_150_rate', 'grad_cohort_ct'],
      dtype='object')

In [171]:
df.drop('index', axis=1, inplace=True)
df.drop('state', axis=1, inplace=True)
df.drop('state_abbr', axis=1, inplace=True)
df.drop('control', axis=1, inplace=True)
df.drop('level', axis=1, inplace=True)
df.drop('race', axis=1, inplace=True)
df.drop('cohort', axis=1, inplace=True)
df.dropna(axis=1, inplace=True)

In [172]:
corr = df.corr()
corr.style.background_gradient()

In [173]:
# Inicializar el modelo
k_neighbors = neighbors.KNeighborsClassifier()

In [205]:
# Preparar la data para entrenar el modelo
data_x = df.drop(['stateid', 'grad_cohort', 'year','grad_cohort_ct'], axis='columns')
data_y = df.grad_150

In [206]:
print(data_x)
print(data_y)

       grad_150
0             0
1             0
2             3
3             0
4            18
...         ...
84937       510
84938      5642
84939      8294
84940     43642
84941     68328

[84942 rows x 1 columns]
0            0
1            0
2            3
3            0
4           18
         ...
84937      510
84938     5642
84939     8294
84940    43642
84941    68328
Name: grad_150, Length: 84942, dtype: int64

In [207]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.1)

In [208]:
# Entrenar el modelo
k_neighbors.fit(train_x, train_y)

KNeighborsClassifier()

In [209]:
# Medir la confianza de nuestro modelo
print(f'Score: {round(k_neighbors.score(test_x, test_y), 4) * 100}%')

Score: 92.11%

In [218]:
# Ahora aplicamos el método predict para encontrar una nueva etiqueta
year = 2013
predicted = k_neighbors.predict([[year]])

c:\Users\USUARIO\Desktop\TareaAlgoritmica\TareaAlgoritmica\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [219]:
print(f'La persona salio en el año {year}')

La persona salio en el año 2013